.container{
    color: white;
    background: black;
    padding: 20px;

    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr 1fr .2fr;

    grid-template-areas: 
    "nav"
    "main"
    "footer";
}

nav{
    background-color: rgb(47, 45, 45);
    grid-area: nav;

    display: flex;
    align-items: center;
    position: relative;

}

.logo{
    margin-left: 100px;
    color: black;
    font-weight: 1000;
    font-size: 1.5rem;

    border: 1px solid rgb(160, 162, 163);
    border-radius: 2px;
    padding: 2px;



}

.connectWallet{
    margin-left: 250px;
    color: black;
    font-size: 1.2rem;

    text-shadow:  0 0 0.3em white;

    border: 1px solid rgb(3, 3, 3);
    border-radius: 2px;
    padding: 3px;

    font-weight: 1000;
    /* background: black; */
    align-items: center;
    text-align: center;

    -ms-perspective-origin-x: bottom;
    perspective: -10px;

    transition: 0.8s;
}

.connectWallet:hover{
    background: rgb(195, 193, 193);
    color: black;
    font-size: 1.05rem;
    border: 0px solid rgb(27, 25, 25);
    border-radius: 10px;

}


.menu{
    margin-left: 200px;
    text-decoration: none;
}

.menu ul{
    padding-right: 50px;
    text-decoration: none;
    display: flex;

    justify-content: space-between;
}

.menu ul li{
    text-decoration: none;
    color: white;
    display: flex;
    margin-right: 200px;

}

.menu ul li a{
    text-decoration: none;
    color: rgb(224, 222, 222);
    text-transform:capitalize;
    justify-content: space-between;
    padding: 3px;
    margin-right: 25px;
    border: 1px solid rgb(160, 162, 163);
    font-size: 0.9rem;
    text-decoration: white;
    border-radius: 2px;

    z-index: 100;

    font-weight: 1000;
    /* background: black;
    align-items: center;
    text-align: center; */
    transition: 1s;
}

.menu ul li a:hover{
    background: white;
    color: black;
    font-size: 1.0rem;

}



main{
    background: black;
    grid-area: main;


    display: grid;
    grid-template-columns: 0.4fr 1fr ;
    grid-template-rows: 1fr;

    grid-template-areas: 
    "dashBoard gameInterphase";

    grid-gap: 0rem;

}


.dashBoard{

    background-color: rgb(91, 152, 199);
    grid-area: dashBoard;

    margin-top: 30px;
    margin-bottom: 30px;

    border-radius: 5px; 


}


.gameInterphase{

    background-color: rgb(91, 152, 199);
    grid-area: gameInterphase;
    color: black;
    border: 2px  double black;
    border-radius: 10px; 

    display: flex;
}

footer{
    margin-top: 20px;
    margin-bottom: -20px;
    position: relative;
    display: flex;

    align-items: center;
    justify-content: left;
    

    background-color: rgb(47, 45, 45);
    grid-area: footer;
    padding: 0px;
}

.content, .community, .earning{

    padding: 10px 100px;
    margin-right: 200px;
    margin-left: 100px;
    text-decoration: none;
    display: block;
    position: relative;
}

ul li a{

    position: relative;
    display: flex;
    align-items: center;
    font-weight: 400;

    padding-right: -10px;

    text-transform: capitalize;
    text-decoration: none;

    border: 2px none rgb(18, 18, 18);
    color: rgb(215, 210, 210);   
    text-overflow:ellipsis;
}




.cryptoFlipGame{
    position: absolute;
    margin-left: 150px;
    margin-top: 20px;

    background: black;
    border-radius: 18px;

    align-items: center;
    justify-content: center;

    display: flex;
    flex-wrap: wrap;

    
    width: 900px;
    height: 450px;
    border: 2px solid black;

    /* 3d Styling */
    perspective: 1000px;

    
}

.cards{
    border: 2px solid white;
    width: calc(25% - 15px);
    height: calc(33.333% - 15px);

    position: relative;

    transform: scale(1);

    /* 3d Styling */
    transform-style: preserve-3d;
    transition: transform 0.3s;

}

.cards:active{
    transform: scale(.96);
    transition: transform 0.3s;

}

.cards.flip{
    transform: rotateY(180deg);
}

.front,
.back{
    
    border: 1px none white;
    border-radius: 5px;

    position: absolute;

    margin-top: -10px;
    margin-left: -10px;


    width: 100%;
    height: 100%;
    padding: 10px;
    background: rgb(3, 3, 3);
    opacity: 1;

    backface-visibility: hidden; /* to hide the back face of the car after the flip*/

}


.front{

    transform: rotateY(180deg);
    top: 0px;
}

img{
    width: 250px;
    height: 150px;
}

.restart{
    position: absolute;
    top: 650px;
    right: 550px;
    border: 2px solid black;

    transform: scale(.96);
    transition: transform 0.3s;
    
}

.restart button{
    background: black;
    color: white;

    font-weight: 1000;

}